<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Railway Express!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="css" href="./public/css/style.css">
</head>

<body>

  <header>
    <div class="navbar navbar-light font-weight-bold">
      <h1 class="text-left">Railway Express!</h1>
      <nav class="nav justify-content-right" id="nav-text">
        {{#if logged_in}}
        <a class="nav-link" href="/profile">Passenger Profile</a>
        <a class="nav-link" href="/reservation">Reservation</a>
        <a class="nav-link" href="/train">Train</a>
        <button class="no-button" id="logout" href="">Logout</button>
        {{else}}
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/signup">Sign Up</a>
        {{/if}}

    </div>
  </header>

  <main class="container container-fluid">

    {{{body}}}


  </main>
  <footer class="panel-footer">
    <div class="container">
      <div class="row">
        <div id="left" class="col-sm-6 col-xs-12">
          <p> some text </p>
        </div>
        <div id="right" class="col-sm-6 col-xs-12">
          <a href="/comingsoon"><i class="fa fa-facebook-square"></i> </a>
          <a href="/comingsoon"><i class="fa fa-twitter"></i> </a>
          <a href="/comingsoon"><i class="fa fa-instagram"></i> </a>
        </div>
      </div>

      <div class="col-sm-12">
        <p> <i class="fa fa-github"></i> 2021 Express Railway. All Right Reserved</p>
      </div>
    </div>
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>