<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Railway Express!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
</head>

<body>
    <div class="jumbotron jumbotron-fluid justify-content-center">
        <header>
        <h1 class="text-center">Railway Express!</h1>
            <nav class ="nav justify-content-center" >
            {{#if logged_in}}
            <a class="nav-link" href="/passenger">Passenger Profile</a> |
            <a class="nav-link" href="/logout">Logout</a>
            {{else}}
            <a class="nav-link" href="/login">Login</a>
            {{/if}}
            </nav>
        </header>
  </div>

  <body class="m-3">

  <div class="card">
    <div class="card-header bg-secondary text-white">
      Current Train Schedule
    </div>
    <div class="card-body">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">Train Name</th>
            <th scope="col">Destination</th>
            <th scope="col">Frequency (min)</th>
            <th scope="col">Next Arrival</th>
            <th scope="col">Minutes Away</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>

