
<body class="m-3">

    <h2>Become a passenger today!</h2>

    


  <div>Last station check in:</div><span>{{{schedule.station_name}}}</span>

  <div class="card">
    <div class="card-header bg-secondary text-white">
      Current Train Schedule
    </div>
    <div class="card-body">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">Station Name</th>
            <th scope="col">Arrival Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{{station.name}}}</td>
            <td>{{{reservation.depart_time}}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>