<body class="m-3">

  <div>Last station check in:</div><span>{{{schedule.station_name}}}</span>

  <div class="card">
    <div class="card-header bg-secondary text-white">
      Current Train Schedule
    </div>
    <div class="card-body">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">Station Name</th>
            <th scope="col">Departure Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Albert Lea</td>
            <td>7:00 am</td>
          </tr>
          <tr>
            <td>Faribault</td>
            <td>8:00 am</td>
          </tr>
          <tr>
            <td>Lakeville</td>
            <td>9:00 am</td>
          </tr>
          <tr>
            <td>Minneapolis-St Paul</td>
            <td>10:00 am</td>
          </tr>
          <tr>
            <td>St Cloud</td>
            <td>11:00 am</td>
          </tr>
          <tr>
            <td>Brainerd</td>
            <td>12:00 pm</td>
          </tr>
          <tr>
            <td>Duluth</td>
            <td>1:00 pm</td>
          </tr>
          <tr>
            <td>Bemidji</td>
            <td>2:00 pm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </main>

  <section id="pictures" class="row">
    <!-- bottom immages-->
    <div class="card-deck ">
      <div class="card-body col-md-3 col-sm-6 col-xs-12">
        <img width="240" height="207" src="/images/station11.jpg">
      </div>
      <div class="card-body col-md-3 col-sm-6 col-xs-12">
        <img width="240" height="207" src="/images/train.jpg">
      </div>
      <div class="card-body col-md-3 col-sm-6 col-xs-12">
        <img width="240" height="207" src="/images/train3.jpg">
      </div>
      <div class="card-body col-md-3 col-sm-6 col-xs-12">
        <img width="240" height="207" src="/images/train2.jpg">
      </div>
    </div>
  </section>
</body>