

<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
  
</head>
<body class="m-3">

  <div class="card">
    <div class="card-header bg-secondary text-white">
      Currently Booked Ticket
    </div>
    <div class="card-body">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">Train Name</th>
            <th scope="col">Station</th>
            <th scope="col">Time</th>
          </tr>
          <tbody>
          <tr>
            <td>{{{Train Name}}}</td>
            <td>{{{Station Name}}}</td>
            <td>{{{Train Time}}}</td>
          </tr>
        </tbody>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>
</body>
