

<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{first_name}}!</h2>
  </div>
</div>


{{#if reservation}}

<body class="m-3">
  <div class="card">
    <div class="card-header bg-secondary text-white">
      Currently Booked Ticket
    </div>
    <div class="card-body">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">Station</th>
            <th scope="col">Time</th>
          </tr>
        <tbody>
          <tr>
            <td>{{{station.name}}}</td>
            <td>{{{station.depart_time}}}</td>
          </tr>
        </tbody>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</body>

{{else}}

<div class="card">
  <div class="card-body">
      <h4 class="card-title">No current reservations</h4>
      <p class="card-text">
          It looks like you don't have a spot currently reserved. Click the button below to get started!
      </p>
      <a class="btn btn-primary" href="/reservation">Make a Reservation</a>
      
  </div>
</div>

{{/if}}