<div>
    <h2>Reserve your seat on our train!</h2>

    <span> Please select the station you'd like to depart from</span>
    <form id="reservation-form">
        <select id="reservation-dropdown">
            {{#each stations as |station| }}
            <option value={{station.id}}>{{{station.name}}} - {{{station.depart_time}}}</option>
            {{/each}}
        </select>
        <button id="submit-button" type="submit">Submit</button>
    </form>
</div>

<script src="./js/reservation.js"></script>