
<body class="m-3">

  <div class="card">
    <div class="card-header bg-secondary text-white">
      Current Train Schedule
    </div>
    <div class="card-body">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">Train Name</th>
            <th scope="col">Station Name</th>
            <th scope="col">Arrival Time</th>
            <th scope="col">Capacity</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>
</body>