<div>

    <h1>Our Train</h1>

    <span>Current Capacity</span>

    <h3>{{{train.capacity}}}</h3>

    <span>Current Passengers</span>

    <div class="card">
    <div class="card-body">
        
    </div>
    </div>

</div>