<div>

    <h1>Our Train</h1>

    <span>Train bio here</span>

<div class="card">

    <span>Current Passengers</span>

    <div class="card-body">
   
        {{#each passengers as |passenger| }}
        <div>{{{passenger.username}}}</div>
        {{/each}}

    </div>

</div>