<div>

    <h1>Our Train</h1>

    <span>Current Capacity</span>

    <h3>{{{train.capacity}}}</h3>

<div class="card">
    
    <span>Current Passengers</span>

    <div class="card-body">
   
        {{#each passengers as |passenger| }}
        <div>{{{passenger.username}}}</div>
        {{/each}}

    </div>

</div>